.main-empty-task {
  display: flex;
  flex-direction: column;
}
.add-task {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.sunbed-image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.empty-info {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hints {
  font-size: small;
}
.nofitication {
  font-weight: bold;
}
